html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  color: $title-color;
}

.container {
  max-width: $tablet;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  // @media screen and (min-width: $tablet) {
  //   max-width: $desktop;
  // }

  // @media screen and (min-width: $desktop) {
  //   max-width: 1074px;
  // }
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.separator {
  margin-bottom: 48px;
}
