// Variables
$primary-text-color: #161c2d;
$title-color: #000000;
$sub-title-color: #4a545e;
$accent-color: #0d65c6;
$border-color: #f2f4f8;

// Breakpoints:

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
