// Variables
$primary-text-color: #161c2d;
$title-color: #000000;
$sub-title-color: #4a545e;
$accent-color: #0d65c6;
$border-color: #f2f4f8;
$icons-color: #5a749a;
$inputs-bg-color: #f9f9f9;

// Breakpoints:

$mobile: 320px;
$max-mobile-container: 500px;

$tablet: 768px;
$max-tablet-container: 720px;

// $desktop: 1280px;
$desktop: 1000px;
$max-desktop-width: 1200px;
$max-desktop-container: 1040px;
