.advantages__list {
  text-align: center;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.advantages__text {
  padding-left: 16px;
  font-size: 19px;
  font-weight: 700;
}

.section_advantages {
  border-bottom: $border-color 1px solid;
}
