.section_hero {
  background-color: $accent-color;
}

.title.title_hero {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.hero__subtitle {
  font-size: 19px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}
