<section class="section section_advantages">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon" height="24" width="24">
          <use href="./images/sprite.svg#credit-card-icon"></use>
        </svg>
        <span class="advantages__text">Купите Криптовалюту с картой</span>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" height="24" width="24">
          <use href="./images/sprite.svg#swap-hotizontal-icon"></use>
        </svg>
        <span class="advantages__text"> Торгуйте мгновенно</span>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" height="24" width="24">
          <use href="./images/sprite.svg#lock-icon"></use>
        </svg>
        <span class="advantages__text"> Безопасный & Приватный</span>
      </li>
    </ul>
  </div>
</section>
