<footer class="footer">
  <div class="container">
    <div class="footer__wraper">
      <a href="/" class="footer__logo--link">
        <svg class="footer__logo--icon"></svg>
      </a>
      <ul class="image-list">
        <li class="image-list__item">
          <svg height="25" width="25">
            <use href="./images/sprite.svg#facebook-icon"></use>
          </svg>
        </li>
        <li class="image-list__item">
          <svg height="25" width="25">
            <use href="./images/sprite.svg#github-icon"></use>
          </svg>
        </li>
        <li class="image-list__item">
          <svg height="25" width="25">
            <use href="./images/sprite.svg#instagram-icon"></use>
          </svg>
        </li>
        <li class="image-list__item">
          <svg height="25" width="25">
            <use href="./images/sprite.svg#twitter-icon"></use>
          </svg>
        </li>
        <li class="image-list__item">
          <svg height="25" width="25">
            <use href="./images/sprite.svg#telegram-icon"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</footer>
