<header class="header">
  <div class="header__container">
    <a href="/" class="header__logo--link">
      <svg class="header__logo--icon"></svg>
    </a>
    <button class="header__open-button" type="button" data-menu-open>
      <svg class="header__menu-icon"></svg>
    </button>

    <nav class="navigation is-hidden" data-menu>
      <ul class="navigation__list">
        <li class="nvigation__item"><a href="#">Наш Сайт</a></li>
        <li class="nvigation__item"><a href="#">Наш Бот</a></li>
        <li class="nvigation__item"><a href="#">Наш Телеграм Канал</a></li>
        <li class="nvigation__item"><a href="#">Связаться с Нами</a></li>
      </ul>
    </nav>
  </div>
</header>
